{% extends 'base.html' %}
{% block content %}

<div class="header-1">
    <div id="sobre-nos">

        <h2><em>CEP</em></h2> <!-- tag em, para deixar em intálico -->
        <p class="texto2">
            Digite seu CEP <br> <!-- tag br, para quebra de linha -->
            <br>
        </p>
        <input type="text" id="cep" name="cep" size="15" maxlength="8" autocomplete="off">
        <button type="button" onclick="buscaDadosCEP()">Consultar</button>
        <hr class="my-4">
        <div style="padding: top 20px;" id="return"></div>

    </div>
</div>
{% endblock %}